<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" [src]="post.user.imageUrl">
    <mat-card-title>{{ post.user.firstname }} {{ post.user.lastname }}</mat-card-title>
  </mat-card-header>
  <h1>{{ post.title }} </h1>
  
  <img mat-card-image [src]="post.mediaUrl" alt="">
  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="post.likes">{{ post.likes.length }}</div>
    <button mat-button (click)="onLike()">Like</button>
    <button mat-raised-button (click)="onBack()">Retour</button>
    <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="user_id === post.user_id">Supprimer</button>
  </mat-card-actions>

</mat-card>