.container{
  width: 600px;
  margin: auto;
  h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }
}

.center{
  margin-top: 50px;
}

.confirm{
  margin-left: 30px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  .login{
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 30px;
    img{
      width: 200px;
      height: 102px;
      margin-bottom: 20px;
    }
    a{
      align-self: center;
    }
  }
}

